body{
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: 100%;
}
*{
    display: flex;
    justify-content: center;
}
.centerBack{
    position: relative;
    width: 300px;
    height: 450px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    top: 80px;
    z-index: 9;
}
.imagen{
    position: relative;
    height: 260px;
    width: 260px;
    top: 20px;
    border: 10px;
    border-radius: 5%;
    overflow: hidden;
    z-index: 5;
}
.title{
    position: absolute;
    background: transparent;
    text-align: center;
    width: 250px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
    z-index: 6;
    top: 280px;
}
.description{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    top: 350px;
    width: 259px;
    font-weight: 15px;
    background: none;
    color: hsl(220, 15%, 55%);
}